<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature
        android:name="android.hardware.location"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/CustomTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="30">
        <activity
            android:name=".sistemaCompanero.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".sistemaCompanero.HistoryPointCompaneroActivity"
            android:exported="false" />
        <activity
            android:name=".sistemaCompanero.ZonaSistemaCompaneroActivity"
            android:exported="false" />
        <activity
            android:name=".sistemaCompanero.PointCompaneroActivity"
            android:exported="false" />
        <activity
            android:name=".sistemaCompanero.AddPointActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBUS4GUI9HbpZ1rwCOxgI2O7B87Vp5APYU" />

        <activity
            android:name=".cmSocial.activities.ReportActivity"
            android:exported="false" />
        <activity
            android:name=".cmSocial.activities.HiloSelectedActivity"
            android:exported="false" />
        <activity
            android:name=".cmSocial.activities.NotificacionesSocialActivity"
            android:exported="false" />
        <activity
            android:name=".cmSocial.activities.PerfilSocialActivity"
            android:exported="false" />
        <activity
            android:name=".cmSocial.activities.SearchHiloActivity"
            android:exported="false" />
        <activity
            android:name=".cmSocial.activities.NuevoHiloActivity"
            android:exported="false" />
        <activity
            android:name=".verify.VerifyActivity"
            android:exported="false" />
        <activity
            android:name=".settings.ChangePhotoActivity"
            android:exported="false" />
        <activity
            android:name=".settings.ChangePreferenciesActivity"
            android:exported="false" />
        <activity
            android:name=".settings.DesactivateAccountActivity"
            android:exported="false" />
        <activity
            android:name=".settings.NotificationsActivity"
            android:exported="false" />
        <activity
            android:name=".settings.ChangeUsernameActivity"
            android:exported="false" />
        <activity
            android:name=".settings.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".articles.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".articles.ArticleActivity"
            android:exported="false" />
        <activity
            android:name=".settings.SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".ConditionsActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>